<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>movie</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="container">
                            <table class="table table-sm">
                                <tr>
                                    <th>Id</th>
                                    <td th:text="${movie.id}"></td>>
                                </tr>
                                <tr>
                                    <th>External Id</th>
                                    <td th:text="${movie.external_id}"></td>
                                </tr>
                                <tr>
                                    <th>Title</th>
                                    <td th:text="${movie.title}"></td>
                                </tr>
                                <tr>
                                    <th>Overview</th>
                                    <td th:text="${movie.overview}"></td>
                                </tr>
                                <tr>
                                    <th>Release date</th>
                                    <td th:text="${movie.release_date}"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>